__pycache__/
*.py[cod]
.venv/
data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep
data/warehouse/*
!data/warehouse/.gitkeep
powerbi/*.pbix
powerbi/*.pbit
powerbi/.pbi/
.DS_Store
.cache/
**/.pbi/
powerbi/LL.SemanticModel/model.bim
powerbi/LL.SemanticModel/definition/
output/release/
tmp/


